<!DOCTYPE html>
<html>
<head>
  <title>Rankforme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Rank for me</a>
        <div class="container-fluid nav-collapse">
          <ul class="nav">

            <div class="btn-group pull-right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i> <%= current_user[:email]%>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

<%= yield %>


</body>
</html>
